name: Gradle Build & Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      release_tag:
        description: 'Target Release Tag (e.g., v1.2.0)'
        required: true
        type: string

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: false
      - uses: actions/setup-java@v5
        with:
          distribution: 'jetbrains'
          java-version: '21'
          cache: 'gradle'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew
      - name: epa tests
        run: ./gradlew epa:test
      - name: ui tests
        run: xvfb-run ./gradlew ui:test

  build:
    if: github.ref == 'refs/heads/main'
    strategy:
      fail-fast: false
      matrix:
        include:
          # macOS
          - os: macos-latest
            arch: arm64
          - os: macos-15-intel
            arch: x64
          # Windows
          - os: windows-latest
            arch: x64
          - os: windows-11-arm
            arch: arm64
          # Linux
          - os: ubuntu-latest
            arch: x64
          - os: ubuntu-24.04-arm
            arch: arm64

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: false
      - uses: actions/setup-java@v5
        with:
          distribution: 'jetbrains'
          java-version: '21'
          cache: 'gradle'
          architecture: ${{ matrix.arch }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Distributable
        run: ./gradlew createReleaseDistributable
        shell: bash

      - name: Upload distributable artifacts
        uses: actions/upload-artifact@v4
        with:
          name: distributable-${{ matrix.os }}-${{ matrix.arch }}
          path: ui/build/compose/binaries/main-release/app/

  release:
    needs: build
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: release-dist
          merge-multiple: true

      - name: Upload to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.inputs.release_tag }}
          files: release-zips/*.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}